.term {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%;
    /* new addition */
    justify-content: space-between;
    /* new addition */
}

.term-text.hide,
.definition.hide {
    display: none;
}

.term-text,
.definition {
    display: inline;
}
.term-text,
.definition {
    display: inline;
}

.term-text {
    background-color: #f0f0f0;
    /* background color for term */
}

.term-hover .term-text {
    visibility: hidden;
    /* hide term text when term is hovered or clicked */
}

.definition {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    visibility: hidden;
    /* hide definition initially */
}

.show {
    max-height: 1000px;
    /* should be larger than the content's actual height */
    visibility: visible;
    /* show definition when term is hovered or clicked */
}