.App {
  font-family: Arial, sans-serif;
}

/* App.css */
.app-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.conversation-container {
  flex: 2;
  overflow: auto;
}

.guide-toggle-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

button.guide {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
}

button.guide-toggle {
  padding: 10px 20px;
  margin: 20px;
  font-size: 18px;
  color: white;
  background-color: #dddddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

button.guide-toggle:hover {
  background-color: #91dcdd;
}

button.guide-toggle.active {
  background-color: #6c757d;
}

button.guide-toggle.active:hover {
  background-color: #5a6268;
}