.App {
  font-family: Arial, sans-serif;
}

/* App.css */
.app-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.conversation-container {
  flex: 2;
  overflow: auto;
}

.guide-toggle-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

button.guide {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
}

button.guide-toggle {
  padding: 10px 20px;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff; /* White text for better contrast with the teal background */
  background-color: #20B2AA; /* LightSeaGreen */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

button.guide-toggle:hover {
  background-color: #198080; /* Darker teal on hover */
}

button.guide-toggle.active {
  background-color: #006666; /* Dark teal for the active state */
}

button.guide-toggle.active:hover {
  background-color: #004c4c; /* Very dark teal for active hover state */
}